.input-wrapper {
    justify-content: center;
    align-items: center;
    margin-top: 11px;
    width: 0px;
    transition: width 0.3s ease;
    border: none;
}

input.srchinpt:focus {
    outline: 0;
}

.expanded {
    width: 16rem;
    transition: width 0.3s ease;
    border-bottom: 1px solid blue;
}